<header>
  <span class="header__description">HIGH GEORGIA WELDING</span>
  <nav class="nav">
    <ul class="nav__list">
      <li>
        <a href="/" class="nav__link" data-nav-link="home">Home</a>
      </li>
      <li>
        <a href="/about" class="nav__link" data-nav-link="about">About</a>
      </li>
      <li>
        <a href="/gallery" class="nav__link" data-nav-link="gallery">Gallery</a>
      </li>
      <li>
        <a
          href="/certifications"
          class="nav__link"
          data-nav-link="certifications"
          >Certifications</a
        >
      </li>
      <li>
        <a href="/contact" class="nav__link" data-nav-link="contact">Contact</a>
      </li>
    </ul>
    <button class="nav__hamburger nav__hamburger--spin" data-hamburger>
      <span class="nav__hamburger-box">
        <span class="nav__hamburger-inner"></span>
      </span>
    </button>
    <div class="nav__dropdown glassmorphism" data-dropdown>
      <ul class="nav__dropdown-list">
        <li>
          <a href="/" class="nav__dropdown-link" data-nav-link="home">Home</a>
        </li>
        <li>
          <a href="/about" class="nav__dropdown-link" data-nav-link="about"
            >About</a
          >
        </li>
        <li>
          <a href="/gallery" class="nav__dropdown-link" data-nav-link="gallery"
            >Gallery</a
          >
        </li>
        <li>
          <a
            href="/certifications"
            class="nav__dropdown-link"
            data-nav-link="certifications"
            >Certifications</a
          >
        </li>
        <li>
          <a href="/contact" class="nav__dropdown-link" data-nav-link="contact"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
