<!DOCTYPE html>
<html lang="en">
  <!--prettier-ignore-->
  <%- include('partials/head.ejs', { 
      title: 'High Georgia Welding', 
      description: 'High Georgia Welding was founded with a passion for precision and a commitment to excellence. Over the years, we have grown into a trusted name in the welding industry, known for our quality workmanship and customer-centric approach.', 
      cssPath: './styles.css' 
  }) %>
  <!--prettier-ignore-->
  <%- include('partials/header.ejs') %>
  <body data-page="about">
    <main>
      <section class="content-container glassmorphism">
        <h1 class="content-container__title">About The Company</h1>

        <h2 class="content-container__subtitle">Our Story</h2>
        <p class="content-container__text">
          High Georgia Welding was founded with a passion for precision and a
          commitment to excellence. Over the years, we have grown into a trusted
          name in the welding industry, known for our quality workmanship and
          customer-centric approach.
        </p>

        <h2 class="content-container__subtitle">Our Mission</h2>
        <p class="content-container__text">
          Our mission is to deliver top-notch welding services that meet and
          exceed our clients' expectations. We strive to build long-lasting
          relationships with our customers through integrity, professionalism,
          and unparalleled service.
        </p>

        <h2 class="content-container__subtitle">Our Team</h2>
        <p class="content-container__text">
          Our team is composed of skilled professionals with extensive
          experience in various types of welding and fabrication. We take pride
          in our team's ability to tackle challenging projects and deliver
          outstanding results.
        </p>

        <h2 class="content-container__subtitle">Contact Us</h2>
        <p class="content-container__text">
          Ready to discuss your project? Get in touch with us today to see how
          we can help you achieve your goals.
        </p>
      </section>
    </main>

    <!--prettier-ignore-->
    <%- include('partials/footer.ejs') %>

    <script src="scripts.js"></script>
  </body>
</html>
