<!DOCTYPE html>
<html lang="en">
  <!--prettier-ignore-->
  <%- include('partials/head.ejs', {
      title: 'High Georgia Welding',
      description: 'High Georgia Welding was founded with a passion for precision and a commitment to excellence. Over the years, we have grown into a trusted name in the welding industry, known for our quality workmanship and customer-centric approach.',
      cssPath: './styles.css'
  }) %>
  <!--prettier-ignore-->
  <%- include('partials/header.ejs') %>
  <body data-page="certifications">
    <main>
      <section class="certifications__container glassmorphism">
        <h1 class="certifications__title">Coming Soon</h1>
        <p class="certifications__text">
          We're working hard to bring you our certifications page. Please check
          back soon for updates.
        </p>
        <a
          href="index.html"
          class="btn btn--large certifications__button"
          >Return to Home</a
        >
      </section>
    </main>

    <!--prettier-ignore-->
    <%- include('partials/footer.ejs') %>

    <script src="scripts.js"></script>
  </body>
</html>
